/*-- scss:defaults --*/
// Base document colors
$julia-blue: #4063D8;
$julia-green: #389836;
$primary: $julia_green;
$body-bg: lighten($primary, 60%);
$body-color: darken($primary, 50%);

// Navbar
$navbar-bg: lighten($primary, 50%);

// Footer
$footer-bg: lighten($primary, 50%);