/*-- scss:defaults --*/
$presentation-h1-font-size: 5.0vw !default;
$subtitle-font-size: 1.5vw !default;
$author-font-size: 1.0vw !default;
// $body-bg: #fff8dc85;

$img-title: url(www/boston.png);
$img-logo: url(www/wide_logo.png);

.reveal .slide-background.quarto-title-block {
    background-image: $img-title, $img-logo;
    background-size: 30%, 20%;
    background-position: 10% 100%, 95% 95%;
    background-repeat: no-repeat;
}