/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: #000000;
$presentation-heading-color: #4063D8;
$link-color: #389826;
$code-color: #9558b2;
$dark-bg-code-color: lighten($code-color, 15%);
$light-bg-code-color: darken($code-color, 15%);