// Smaller font for longer names
.portrait-title h2 {
  font-size: 1.5rem;
}

// Page width
.article-container{
    max-width: 750px
}

// Sidenote
.sidenote {
  padding: 1em;
  background: #4b4f66;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

// Sidenote
.disclaimer {
  padding: 1em;
  background: #67534c;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

// Intro gif
.intro-gif figure {
  float: right;
  margin-top: auto;
  padding: 15px 15px 15px 15px;
  width: 300px;
  height: 300px;
}

// Syntax highlighting
.dark pre,
.dark code {
  background-color: initial;
}

pre, code {
  background-color: initial;
  overflow-y: auto;
  max-height: 300px;
}

/* Content wrap */
.article-container {
  max-width: 1250px;
}