/*-- scss:defaults --*/

// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700);
$font-family-sans-serif: "Roboto Slab", Regular Regular, serif !default;
$title-font-size: 4vw !default;
$title-font-weight: 500 !default;
$subtitle-font-size: 2vw !default;
$author-font-size: 1.5vw !default;
$date-font-size: 2vw !default;


// Images
$img-title: url("https://raw.githubusercontent.com/pat-alt/quarto-tudelft/main/_extensions/tudelft/www/delft-library.png");
$img-transition: url("https://raw.githubusercontent.com/pat-alt/quarto-tudelft/main/_extensions/tudelft/www/delft-transition.png");
$img-logo-rgb: url("https://raw.githubusercontent.com/pat-alt/quarto-tudelft/main/_extensions/tudelft/www/TUDelft_logo_rgb.png");
$img-logo-white: url("https://raw.githubusercontent.com/pat-alt/quarto-tudelft/main/_extensions/tudelft/www/TUDelft_logo_white.png");
$logo-pos: 5% 102% !default;
$logo-size: 10% !default;

// Colors
// Color codes sourced from https://www.tudelft.nl/en/tu-delft-corporate-design/components/colour
$body-bg: #ffffff !default;
$body-color: #000000 !default;
$blue: #00A6D6;
$darkblue: #0C2340;
$turquoise: #00B8C8;
$royalblue: #0076C2;
$lightpurple: #6F1D77;
$pink: #EF60A3;
$burgundy: #A50034;
$red: #E03C31;
$orange: #EC6842;
$yellow: #FFB81C;
$green: #6CC24A;
$forrestgreen: #009B77;
$darkgrey: #5C5C5C;
// General
$presentation-heading-color: $blue;
$link-color: darken($presentation-heading-color, 15%);
$code-color: $orange;
$dark-bg-code-color: lighten($code-color, 15%);
$light-bg-code-color: darken($code-color, 15%);
// Callouts
// Callouts:
$callout-color-note: $royalblue !default;
$callout-color-tip: $green !default;
$callout-color-caution: $yellow !default;
$callout-color-warning: $red !default;
$callout-color-important: $lightpurple !default;
