/*-- scss:defaults --*/

$body-bg: #12273F;
$body-color: #ffffff;
$presentation-heading-color: #ffffff;
$link-color: #3CD7D9;
$code-color: #9E71FE;
$dark-bg-code-color: lighten($code-color, 15%);
$light-bg-code-color: darken($code-color, 15%);