/*-- scss:defaults --*/
// Base document colors
$body-bg: #e3f7f7;
$body-color: rgb(0, 20, 77);
$link-color: #0067c7;

// Navbar
$navbar-bg: darken($body-bg, 5%);

// Code blocks
$code-block-bg-alpha: -.8;