/*-- scss:defaults --*/
$title-font-size: 2.5vw;
$subtitle-font-size: 1.5vw;
$author-font-size: 1.0vw !default;

/*-- scss:rules --*/
.inline-fragment {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 10px;
    row-gap: 10px;
}