/* css styles */
/* Footnote references */
.footnote-ref ~ .footnote-ref :before {
    content: ','
}

/* Sidenote */
.sidenote {
    padding: 1em;
    background: #4b4f66;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

/* Disclaimer */
.disclaimer {
    padding: 1em;
    background: #67534c;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

/* Intro gif */
.intro-gif figure {
    float: right;
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.intro-gif img {
    padding: 15px 15px 5px 15px;
    width: 300px;
    height: 300px;
}