/*-- scss:defaults --*/
// Base document colors
$julia-blue: #4063D8;
$primary: $julia_blue;
$body-bg: lighten($primary, 40%);
$body-color: darken($primary, 40%);

// Body:
body {
    background-image: url("/www/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    color: white;
  }
  
  body::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
  }
  
  body a {
      color: lightblue;
  }
  
  body img {
      opacity: 0.5;
  }