/*-- scss:defaults --*/

// Fonts

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
$font-family-sans-serif: "Roboto Slab", Regular Regular, serif !default;

// Title slide:
h1.title {
	color: #ffffff;
	font-size: 45px;
	text-shadow: none;
	font-weight: 400;
	text-align: left;
	margin-left: 15px;
	padding-top: 80px;
}

$body-bg: #ffffff;
$body-color: #000000;
$presentation-heading-color: #4AA3D2;
$link-color: darken($presentation-heading-color, 15%);
$code-color: #EB7246;
$dark-bg-code-color: lighten($code-color, 15%);
$light-bg-code-color: darken($code-color, 15%);